body {
    overflow: hidden;
}

@font-face {
font-family: Phage;
src: url(Phage_Rough.oft) format(opentype);
}
#myCanvas {
position: absolute;
border:1px solid #DDDDDD;
z-index: -1;
}
#textBlock {
position: absolute;
left: 40%;
top: 50%;
height:100px;
}
#messages {
overflow:auto;
margin-top: 8px;
width:200px;
height:70px;
}
h1 {
position: relative;
top:70px;
font-size: 40px;
font-family: Phage, "Dead Kansas", Arial;
}
#header  {
text-align: center;
z-index:10;
}
#button {
border: none;
margin: 5px 5px;
padding: 6px 10px;
}
#button:hover {
background-color: #DDDDDD;
border: none;
margin: 5px 5px;
padding: 4px 9px;
}
#inputbox {
    margin-top: 1vh;
    border: 1px solid #DDDDDD;
    padding: 1vh 2px;
}
#inputbox:focus {
    outline: none;
}
#background_image {
position: absolute;
visibility: hidden;
z-index: -2;
width: 90%;
height: 90%;
}
#title_image {
    width: 30%;
    position: relative;
    left:36%;
    top: 100px;
}
#title_background {
    position: absolute;
    left: -2px;
    top: -2px;
    height: 200vh;
    width: 200vw;
    animation: slowsliding 20s linear;
}
#connStatus {
    position: relative;
    left:5%;
    top:5%;
    font-style: bold;
    padding: 10px;
    font-size: 20px;
    font-family: arial;
    width: 200px;
    background-color: rgb(192, 192, 192);
    color: #FFFFFF;
}
/* #connStatus[connected="true"] {
    color: rgb(34, 172, 34);
} */


@keyframes slowsliding{
    0% {
        transform: translateX(0px) translateY(0px);
    }
    100% {
        transform: translateX(-30vw) translateY(-30vh);
    }
}